/* Style the form element with a border around it */
form {
    border: none;
    width: 20vw;
    position: relative;
    align-content: center;
    padding: 20px;
    margin-left: 40%;
    margin-right: 45%;
    margin-top: 100px;
    margin-bottom: 50px;
    
    
    
    
  }

  #signup-heading {
    font-family: 'Roboto';
    font-size: 34px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Add some padding and a grey background color to containers */
  .container-inner {
    padding: 20px;
    /* background-color: pink; */
    align-items: center;
  }

  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #FFFFFF;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: black;
    color: white;
    border: none;
    font-weight: 400;
    font-size: 18px;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }